name: Build & Deploy to Cloud Run

on:
  push:
    branches:
      - main
    paths:
      - "app/**"
      - "src/**"
      - "pages/**"
      - "components/**"
      - "lib/**"
      - "actions/**"
      - "prisma/**"
      - "Dockerfile"
      - "package.json"
      - "pnpm-lock.yaml"
      - ".github/workflows/deploy.yml"

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  REGION: ${{ secrets.GCP_REGION }}
  SERVICE_NAME: newsweave
  REPOSITORY: newsletter-repo
  IMAGE: newsweave-app

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # -------------------------
      # 1️⃣ Checkout source code
      # -------------------------
      - name: Checkout repository
        uses: actions/checkout@v4

      # -------------------------
      # 2️⃣ Authenticate to GCP
      # -------------------------
      - name: Authenticate to GCP
        run: |
          cat << 'EOF' > key.json
          ${{ secrets.GCP_SA_KEY }}
          EOF

          gcloud auth activate-service-account --key-file=key.json
          gcloud config set project $PROJECT_ID
          gcloud config set run/region $REGION


      # -------------------------
      # 4️⃣ Build & Push Image (Cloud Build)
      # -------------------------
      - name: Run Cloud Build (cloudbuild.yaml)
        run: |
          REGION=$(echo "${{ env.REGION }}" | xargs)
          REPOSITORY=$(echo "${{ env.REPOSITORY }}" | xargs)
          IMAGE=$(echo "${{ env.IMAGE }}" | xargs)
          CLERK_KEY=$(echo "${{ secrets.NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY }}" | xargs)
          
          gcloud builds submit . \
            --config=cloudbuild.yaml \
            --substitutions="_REGION=${REGION},_REPOSITORY=${REPOSITORY},_IMAGE=${IMAGE},_NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=${CLERK_KEY}" \
            --timeout=900s


      # # -------------------------
      # # 5️⃣ Deploy to Cloud Run
      # # -------------------------
      # - name: Deploy to Cloud Run
      #   run: |
      #     gcloud run deploy $SERVICE_NAME \
      #       --image $REGION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE:latest \
      #       --platform managed \
      #       --region $REGION \
      #       --allow-unauthenticated \
      #       --port 3000 \
      #       --memory 512Mi \
      #       --cpu 1 \
      #       --min-instances 0 \
      #       --max-instances 1 \
      #       --set-env-vars "DATABASE_URL=${{ secrets.DATABASE_URL }},CLERK_SECRET_KEY=${{ secrets.CLERK_SECRET_KEY }},GOOGLE_GENERATIVE_AI_API_KEY=${{ secrets.GOOGLE_GENERATIVE_AI_API_KEY }}","NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=${{ secrets.NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY }}"
